@model IEnumerable<KeePark.Models.ReserveSpot>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>History Of Reservations</h2>

<form method="get" action="/ReserveSpots/List">
    <input type="text" class="searchReservation" name="userId" placeholder="User's Id" />
    <input type="text" class="searchReservation" name="spotsName" placeholder="Spot's Name" />
    <input type="date" class="searchReservation" name="resDate" placeholder="Reservations's Date" />
    <input type="submit" value="search" />
</form>
<style>
     .searchReservation{
        padding-left: 18px;
        padding-right: 18px;
        margin:0px 15px 0 15px;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.carNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {



            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Spot.SpotName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.carNumber)
                </td>
                <td>

                    <a asp-action="Details" asp-route-id="@item.ReserveSpotID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReserveSpotID">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>